{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.component.ts",
      "options": {
        "semi": true
      }
    }
  ]
}
