.picture {
  position: relative;
  flex-shrink: 0;
}

.image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 390px;
  max-width: 390px;
  height: 444px;

  @media (max-width: 450px) {
    min-width: 370px;
    max-width: 370px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image.default {
  padding: 10px 30px;
  object-fit: contain;
  border: solid 3px #4a2900;
  border-radius: 15px;
}

.picture-info-container {
  position: absolute;
  bottom: -70px;
  left: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 335px;
  padding: 32px 24px;
  border: 1px solid #f0f1f1;

  background-color: #fff;

  @media (max-width: 450px) {
    left: 20px;
    min-width: 325px;
    max-width: 325px;
  }
}

.picture-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
}

.artist-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
}

.picture-title {
  overflow: hidden;

  font-family: var(--second-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 150%;
  color: #393939;
  text-overflow: ellipsis;
  letter-spacing: -0.03em;
  white-space: nowrap;
  display: block;
  max-width: 100%;
}

.artist-name {
  overflow: hidden;

  font-family: var(--second-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 171%;
  color: #e0a449;
  text-overflow: ellipsis;
  letter-spacing: -0.01em;
  white-space: nowrap;
  display: block;
  max-width: 100%;
}

.is-public-domain {
  font-family: var(--second-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 171%;
  color: #393939;
  letter-spacing: -0.01em;
}

.favourite-icon {
  position: unset;
  width: 59px;
  height: 59px;
  padding: 17px;
  border-radius: 35px;

  flex-shrink: 0;

  background: #f9f9f9;

  .bookmark {
    width: 24px;
    height: 24px;
  }

  &.favourite-active {
    background: rgba(251, 215, 178, 0.3);
  }
}

.picture-small {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;

  width: 100%;
  height: auto;
  padding: 16px;
  border: 1px solid #f0f1f1;
  background-color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.image-small-default {
  padding: 5px;
}

.small-image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hidden {
  display: none;
}
