.wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 0;
}

.heading-section {
  margin: 0 auto;
}

.main-heading {
  max-width: 500px;

  font-family: var(--second-family);
  font-size: 64px;
  font-weight: 700;
  color: #393939;
  text-align: center;
  text-transform: capitalize;
}

.bookmark {
  width: 74px;
}

.favorite-list-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading h3 {
  font-family: var(--second-family);
  font-size: 16px;
  font-weight: 400;
  color: #e0a449;
}

.section-heading h2 {
  font-family: var(--second-family);
  font-size: 32px;
  font-weight: 400;
  color: #393939;
}

.favorite-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
