.header {
  background: linear-gradient(90deg, #343333 16.73%, #484848 58.63%, #282828 98.63%);
  padding: 0 10px;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1280px;
  gap: 16px;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-toggler {
  box-shadow: none;
  color: #e0a449;
  border: none;
}

.navbar-nav {
  column-gap: 32px;
  row-gap: 10px;
}

.nav-link {
  display: flex;
  gap: 4px;
  align-items: center;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
