/* Importing Bootstrap SCSS file. */
@use 'bootstrap-icons/font/bootstrap-icons.css';

@import 'src/app/components/footer/footer.component.scss';
@import 'src/app/components/header/header.component.scss';
@import 'src/app/components/picture/picture.component.scss';
@import 'src/app/components/search-bar/search-bar.component.scss';
@import 'src/app/pages/artwork-info-page/artwork-info-page.component.scss';
@import 'src/app/pages/favorite-page/favorite-page.component.scss';
@import 'src/app/pages/home-page/home-page.component.scss';
@import 'src/app/app.component.scss';

@font-face {
  font-family: 'Lexend Deca';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('/LexendDeca-VariableFont_wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0 !important;
}

a {
  padding: 0 !important;
}

:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Lexend Deca', sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
